#messages {
    color: var(--base)
}

#online {
    background-color: rgb(206, 208, 212);
    height: 100vh;
}

form {
    margin-top: -50px;
    background-color: rgb(49, 95, 156);
    height: 50px;
}

#submit {
    background-color: rgb(187, 192, 203);
    border: none;
    height: 37px;
    width: 5vw;
    font-family: "Mirza";
    font-size: 130%;

}

ul {
    list-style-type: none;
}


/*EMOJI */

.field input {
    height: 40px;
    width: 75vw;
    margin-left: -15px;
    margin-top: 5px;
    font-size: 130%;

}

#typing {
  display: inline-block;
}

#emojiPicker {
  position: absolute;
  top: -250px;
}

#emojiPickerWrap {
    margin: 10px 0 0 0;
}

:root {
    --base: rgb(0, 0, 0);
}


.userName {
  font-weight: bold;
}
