body{
  overflow: hidden;

}

:root {
    --base: rgb(0, 0, 0);
}

.flex {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

#messages {
    color: var(--base)
}

#online {
    background-color: rgb(206, 208, 212);
    width: 30vw;
}

form {
    background-color: rgb(49, 95, 156);
    height: 8vh;


}

.submission {
  display: inline-block;
}

.upload {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
}

#submit {
    background-color: rgb(187, 192, 203);
    border: none;
    width: 5vw;
    font-family: "Mirza";
    font-size: 130%;
    height: 4vh;
}

ul {
    list-style-type: none;
}

#sendFile, #close {
  border: solid;
  border-width: 0.5px;
  border-color: #000000;
  background-color: #edeef7;
  font-weight: bold;
  cursor: pointer;
}

#upload {
  font-size: 24px;
  margin-left: 10px;

}


/*EMOJI */

.field input {
    width: 50vw;
    margin-left: -15px;
    font-size: 130%;
    height: 8vh;
}

#chatlog {
    overflow: scroll;
    width: 71vw;
    height: 92vh;
}

.row {
    display: flex;
    flex-direction: row;
}

#typing {
    display: inline-block;

}

.controls {
  display: inline-block;
}

.emojiPicker {
  top: -450px !important;
  position: relative !important;
}

#emojiPickerWrap {
    margin: 10px 0 0 0;
}

.userName {
    font-weight: bold;
    color: #000000;
}

.online {
    font-weight: bold;
    color: #51af18;
    heigth: 100%;
}
