body {
    overflow: hidden;
}

.chooseUser {
    display: block;
}

:root {
    --base: rgb(0, 0, 0);
}

.flex {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

#messages {
    color: var(--base);
    word-wrap: break-word;

}

#online {
    background-color: rgb(206, 208, 212);
    width: 30vw;
}

.privateChatRoom {
  display: block;
  height: 70vh;
  width: 40vw;
  border: solid;
  border-color: #000000;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background-color: #ffffff;



}

.privateChatRoom form {
  background-color: #ffffff;
}

#privateText {
  position: absolute;
  bottom: 10px;
  width: 35vw;
}

#privateSubmit {
  position: absolute;
  bottom: 10px;
  right: 0px;

}

.backgroundPrivate {
  background-color: #375081;
  color: #ffffff;
  font-weight: bold;
}

.backgroundPrivate span {
  float: right;
}

.privateTitle, .submission, #typing, .controls  {
  display: inline-block;
}

form {
    background-color: rgb(49, 95, 156);
    height: 8vh;
}

#input-default {
    word-wrap: break-word;
}

.upload {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
}

#submit {
    background-color: rgb(187, 192, 203);
    border: none;
    width: 5vw;
    font-family: "Mirza";
    font-size: 130%;
    height: 7vh;
}

ul {
    list-style-type: none;
}

#sendFile, #close {
    border: solid;
    border-width: 0.5px;
    border-color: #000000;
    background-color: #edeef7;
    font-weight: bold;
    cursor: pointer;
    padding: 0 5px 0 5px;
}

#upload {
    font-size: 24px;
    margin-left: 10px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

#documentUpload {
    background-color: white;
    height: 230px;
}

#documentUpload input {
    margin-left: 20px;
    margin-top: 10px;
}


/*EMOJI */

.field input {
    width: 50vw;
    margin-left: -15px;
    font-size: 130%;
    height: 8vh;
}

#chatlog {
    overflow: scroll;
    width: 71vw;
    height: 92vh;
}

#privateChatlog {
  height: 51vh;
  width: 39.5vw;
  overflow-y: scroll;
  word-wrap: break-word;

}

.row {

    display: flex;
    flex-direction: row;
}

.emojiPicker {
    top: -450px !important;
    position: relative !important;
}

#emojiPickerWrap {
    margin: 10px 0 0 0;
}

.userName {
    font-weight: bold;
    color: #000000;
}

.online {
    font-weight: bold;
    color: #51af18;
    heigth: 100%;
}

#blah {
    max-width: 200px;
    max-height: 200px;
    margin-left: 20px;
}

.chooseUser {
    background-color: rgba(111, 96, 99, 0.55);
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
}

.chooseUser input {
    margin-left: 50px;
    margin-right: -50px;
    margin-top: 10px;
}
